<section>
    <h3>About myself</h3>

    <div class="face-lockup">
        <div class="face-img"></div>

        <div class="icon-pencil">{% include icon/icon-pencil.html%}</div>
        <div class="icon-mouse">{% include icon/icon-mouse.html%}</div>
        <div class="icon-browser">{% include icon/icon-browser.html%}</div>
        <div class="icon-video">{% include icon/icon-video.html%}</div>
    </div>

    <div class="blurb">
        <p>
            <strong>Contrary to popular belief, Lorem Ipsum is not simply random text.</strong> It has roots in a
            piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
            Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
            undoubtable source
        </p>
    </div>

    <div class="skill-lockup">
        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-icons skill-6">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Design</div>
            <div class="skill-icons skill-10">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">UX Design</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">UI Design</div>
            <div class="skill-icons skill-5">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-icons skill-7">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Developing</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>
    </div>
</section>